@page "/index"
@using Blazzor.Data
@using Blazored.LocalStorage
@using System.Security.Claims
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorageService
@inject IAuthorizationService authorizationService

@if (IsUserAuthenticated)
{
    <h3><b>@user.Identity.Name</b> is logged in!!!</h3>
    <br />
    
}
 else
 {
    <h3><b>User is logged out</b></h3>
 }



@code { [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
            IsUserAuthenticated = true;

        
    } }
